#![enable(implicit_some)]
(
  path: "/mnt/src",
  owner: None,
  src: [
    (
      name: "rlib",
      repo: (
        vcs: "hg",
        origin: "https://hg.rwest.io/rlib",
        path: "rlib",
      ),
      bin: None,
      lib: (),
      babel: None,
      meta: None,
    ),
    (
      name: "tenex",
      repo: (
        vcs: "hg",
        origin: "https://hg.rwest.io/tenex",
        path: "tenex",
      ),
      bin: None,
      lib: (),
      babel: None,
      meta: None,
    ),
    (
      name: "shed",
      repo: (
        vcs: "hg",
        origin: "https://hg.rwest.io/shed",
        path: "shed",
      ),
      bin: (),
      lib: None,
      babel: None,
      meta: None,
    ),
  ],
  network: (
    socket: "0.0.0.0:0",
    transport: "udp",
    tunnel: None,
    engine: None,
    peers: None,
  ),
  hgrc: (
    name: "zor-shed",
    contact: "ellis@rwest.io",
    description: "local shed",
    extensions: [],
    sock: "127.0.0.1:8000",
    paths: {
      "rlib": "./rlib",
    },
  ),
)